In [1]:
%load_ext sql
from sqlalchemy import create_engine
import pandas as pd
import numpy as np


%sql postgresql://postgres:amure@localhost:5432/moodle

engine = create_engine('postgresql://postgres:amure@localhost:5432/moodle')

In [76]:

%%sql
select *  from mdl_logstore_standard_log limit 10
;

 * postgresql://postgres:***@localhost:5432/moodle
10 rows affected.

[(1, '\\core\\event\\course_viewed', 'core', 'viewed', 'course', None, None, 'r', 2, 2, 50, 1, 0, 1, None, 0, 'N;', 1548311114, 'web', '105.233.48.139', None),
 (2, '\\core\\event\\user_loggedin', 'core', 'loggedin', 'user', 'user', 2, 'r', 0, 1, 10, 0, 2, 0, None, 0, 'a:1:{s:8:"username";s:5:"admin";}', 1548311148, 'web', '105.233.48.139', None),
 (3, '\\core\\event\\dashboard_viewed', 'core', 'viewed', 'dashboard', None, None, 'r', 0, 5, 30, 2, 2, 0, 2, 0, 'N;', 1548311179, 'web', '105.233.48.139', None),
 (4, '\\core\\event\\course_viewed', 'core', 'viewed', 'course', None, None, 'r', 2, 2, 50, 1, 0, 1, None, 0, 'N;', 1548313994, 'web', '105.233.48.139', None),
 (5, '\\core\\event\\course_viewed', 'core', 'viewed', 'course', None, None, 'r', 2, 2, 50, 1, 0, 1, None, 0, 'N;', 1548319150, 'web', '41.13.254.147', None),
 (6, '\\core\\event\\course_viewed', 'core', 'viewed', 'course', None, None, 'r', 2, 2, 50, 1, 0, 1, None, 0, 'N;', 1548320138, 'web', '41.13.254.147', None),
 (7, '\\core\\event\\course_viewed', 'core', 'viewed', 'course', None, None, 'r', 2, 2, 50, 1, 0, 1, None, 0, 'N;', 1548320199, 'web', '41.13.254.147', None),
 (8, '\\core\\event\\course_viewed', 'core', 'viewed', 'course', None, None, 'r', 2, 2, 50, 1, 0, 1, None, 0, 'N;', 1548320273, 'web', '41.13.254.147', None),
 (9, '\\core\\event\\course_viewed', 'core', 'viewed', 'course', None, None, 'r', 2, 2, 50, 1, 0, 1, None, 0, 'N;', 1548320293, 'web', '41.13.254.147', None),
 (10, '\\core\\event\\user_loggedin', 'core', 'loggedin', 'user', 'user', 2, 'r', 0, 1, 10, 0, 2, 0, None, 0, 'a:1:{s:8:"username";s:5:"admin";}', 1548320487, 'web', '41.13.254.147', None)]

In [9]:
data=pd.read_sql('select *  from mdl_logstore_standard_log' ,engine)
#data.to_csv('user.csv')

In [35]:
len(data['userid'].unique())

1049

In [26]:
data.groupby(data['userid']).count().sort_values(by='id',ascending=True)['id']
data1=pd.DataFrame({'userid':list(data.groupby(data['userid']).count().sort_values(by='id',ascending=False).index),'count':list(data.groupby(data['userid']).count().sort_values(by='id',ascending=False)['id'])})
data1.head()

   userid  count
0       2  45023
1     246  13917
2       3  12922
3     917  10696
4     581  10533

In [32]:
data['userid'].max()

1052

In [2]:
class Compute():
    def __init__(self,engine):
        self.engine=engine
    def dedication_time(self,query):
        self.data=pd.read_sql(query,self.engine)
        self.data['firstaccess']=pd.to_datetime(self.data['firstaccess'])
        self.data['lastaccess']=pd.to_datetime(self.data['lastaccess'])
        self.data['dedication_time']=self.data['lastaccess']-self.data['firstaccess']
        self.data['dedication_time']=self.data['dedication_time'].dt.days
        return self.data[['id','dedication_time']].sort_values(by='dedication_time',ascending=False)
    def login_count(self,query):
        data=pd.read_sql(query,self.engine)
        self.data_login_count=pd.DataFrame({'userid':list(data.loc[data['action']=='loggedin'].groupby(data['userid']).count().sort_values(by='id',ascending=False).index),
                            'count':list(data.loc[data['action']=='loggedin'].groupby(data['userid']).count().sort_values(by='id',ascending=False)['id'])})
        return self.data_login_count
    def activity_count(self,query):
        data=pd.read_sql(query,self.engine)
        data.groupby(data['userid']).count().sort_values(by='id')['id']
        self.data_activity_count=pd.DataFrame({'userid':list(data.groupby(data['userid']).count().sort_values(by='id',ascending=False).index),'count':list(data.groupby(data['userid']).count().sort_values(by='id',ascending=False)['id'])})
       
        return self.data_activity_count
    def grouping(self,data,top):
        row=(len(data)*top)//100
        return data.iloc[:row]

In [3]:
compute=Compute(engine)

## Dedication Time

In [12]:
dedication=compute.dedication_time('select id,to_timestamp(firstaccess) as firstaccess,to_timestamp(lastaccess) as lastaccess from mdl_user')
ranking_1=compute.grouping(dedication,1) #top 1%
ranking_5=compute.grouping(dedication,5) #top 5%
ranking_10=compute.grouping(dedication,10) #top 10%
ranking_25=compute.grouping(dedication,25) #top 25%

## Login count

In [14]:
ranking_1

       id  dedication_time
569     3              185
178     2              176
754     7              172
1039   48              167
412   266              165
762    25              162
194   271              162
1051  246              162
937    15              160
238    45              159

In [73]:

login=compute.login_count('select *  from mdl_logstore_standard_log')
ranking_1=compute.grouping(login,1) #top 1%
ranking_5=compute.grouping(login,5) #top 5%
ranking_10=compute.grouping(login,10) #top 10%
ranking_25=compute.grouping(login,25) #top 25%

## Activity count

In [4]:

activity=compute.activity_count('select *  from mdl_logstore_standard_log')
ranking_1=compute.grouping(activity,1) #top 1%
ranking_5=compute.grouping(activity,5) #top 5%
ranking_10=compute.grouping(activity,10) #top 10%
ranking_25=compute.grouping(activity,25) #top 25%

In [5]:
activity

      userid  count
0          2  45023
1        246  13917
2          3  12922
3        917  10696
4        581  10533
...      ...    ...
1044    1033      9
1045     391      7
1046       4      3
1047       1      3
1048     -10      1

[1049 rows x 2 columns]